<div class="mt-4">
    <h3>Pokemon của tôi</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên</th>
      <th scope="col">Thời gian tạo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a href="/pokemon/{{this._id}}/edit" class="btn btn-link">sửa</a>
        <a href="" class="btn btn-link">xóa</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>